.home-page {
  min-height: 100vh;
  background: #0f0f0f;
  color: #ffffff;
  padding: 40px 30px;
}

/* Header */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.section-header h1 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.view-all-btn {
  border: none;
  background: #e50914;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.view-all-btn:hover {
  background: #b20710;
}


/* Anime Grid */
/* .anime-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 24px;
  width: 100%;
  margin: 0;
} */

.anime-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 24px;
  margin-left: 15px;
  margin-right: 15px;
}

/* Loading & Error */

.home-page-status {
  min-height: 100vh;
  background: #0f0f0f;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

.home-page-status.error {
  color: #ef4444;
}


/* Responsive */

@media (max-width: 1200px) {
  .anime-grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

@media (max-width: 992px) {
  .anime-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .home-page {
    padding: 25px 20px;
  }

  .anime-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
  }
}

@media (max-width: 576px) {
  .section-header h1 {
    font-size: 24px;
  }

  .view-all-btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .anime-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.anime-card {
  cursor: pointer;
}

/* Mobile */

@media (max-width: 768px) {
  .details-content {
    flex-direction: column;
  }

  .details-image {
    width: 180px;
    height: 260px;
  }
}